<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SENTRY_PROJECT" value="https://cfb177d3c1184037abbd8d6ede17f745@o919966.ingest.sentry.io/5870614" />
		<add key="UPDATE_XML" value="https://dim0147.github.io/dyl-editor/application/update/" />
		<add key="DYL_SUPPORT_PAGE" value="https://www.facebook.com/DYL-Extension-101259035121053" />
		<add key="DOWNLOAD_PATH" value="" />
		<add key="OUTPUT_PATH" value="" />
		<add key="downloadParallel" value="true" />
	</appSettings>
</configuration>